@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 249 250 251; /* Gris muy claro para el fondo */
  --background-end-rgb: 255 255 255;
  /* Usamos un gris oscuro (casi negro) para el texto principal */
  --foreground-rgb: 17, 24, 39; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 17, 24, 39;
    --foreground-rgb: 249, 250, 251;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
